
@{
    ViewBag.Title = "NewStaff";
}

<h2>NewStaff</h2>
<form class="form-group" method="post">
    <div>
        <label>Staff Name</label>
        <input type="text" class="form-control" name="StaffName" />
        <label>Starting</label>
        <input type="text" class="form-control" name="Starting" />
        <label>Ending</label>
        <input type="text" class="form-control" name="Ending" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Staff</button>
    </div>
</form>

