
@{
    ViewBag.Title = "NewStudent";
}

<h2>NewStudent</h2>
<form class="form-group" method="post">
    <div>
        <label>Student Name</label>
        <input type="text" class="form-control" name="StudentName" />
        <label>Faculty</label>
        <input type="text" class="form-control" name="Faculty" />
        <label>School No</label>
        <input type="text" class="form-control" name="SchoolNo" />

    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Add Student</button>
    </div>
</form>
